html {
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#the_nav {
    display: grid;
    width: 100%;
    position: absolute;
    top: 0px;
    grid-template-columns: 78% 4% 4% 3% 8%;
    grid-template-rows: 60px;
    grid-template-areas: "a0 a1 a2 a3 a4";
    justify-items: center;
    align-items: center;
}

#nav_option {
    
}

#Gmail:link, #Gmail:visited, #Images:link, #Images:visited {
    color: #3c4043;
    text-decoration: none;
}

#Gmail:hover, #Gmail:active, #Images:hover, #Images:active {
    text-decoration: underline;
}

#empty {
    grid-area: a0;
}

#Gmail {
    font-size: 13px;
    grid-area: a1;
}

#Images {
    font-size: 13px;
    grid-area: a2;
}

#Options {
    grid-area: a3;
}

#Sign:link {
    text-decoration: none;
}

#Sign:hover {
    background-color: rgb(43, 125, 233);
    text-decoration: none;
}

#Sign:active {
    background-color: rgb(80, 148, 237);
}

#Sign {
    font-size: 15px;
    padding: 8px 22px;
    color: white;
    background-color: #1a73e8;
    grid-area: a4;
    border-radius: 8%;
}

#main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border-color: #f8f9fa;
    border-style: solid;
}

#search:hover {
    box-shadow: 2px 2px 3px #d1d1d1;
}

#search::before {
    content: "haodfhksodk"
}

#search::after {
    content:"";
    background-color: green;
}

#main_two {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 10% 120px 10px 120px 10%;
    grid-template-rows: fr;
    grid-template-areas: "a0 a1 a2 a3 a4";
    justify-content: center;
    justify-items: center;
}

.main_button {
    background-color: #f8f9fa;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#mb1:hover, #mb2:hover {
    border-style: solid;
    border-color: #dfdfdf;
}

#mb1 {
    grid-area: a1;
}

#mb2 {
    grid-area: a3;
}

#language {
    text-align: center;
    font-size: 14px;
}


#main_footer {
    color: #6f6f6f;
    font-size: 14px;
    background-color: #dfdfdf;
    position: absolute;
    width: 100%;
    bottom: 1px;
    display: grid;
    grid-template-columns: repeat(7, fr);
    grid-template-rows: fr fr;
    row-gap: 1px;
    grid-template-areas:
    "ft ft ft ft ft ft ft"
    "ft2 ft3 ft4 ft5 ft6 ft7 ft8";
    justify-items: stretch;
    align-items: center;
}

.ft {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.ft:link, .ft:visited, #ft1:hover, #ft1:active {
    color: #6f6f6f;
    text-decoration: none;
}

.ft:hover, .ft:active {
    color: #6f6f6f;
    text-decoration: underline;
}

#ft1 {
    grid-area: ft;
    display: grid;
    grid-template-columns:repeat(7, fr);
    grid-template-rows: fr;
    grid-template-areas: "child a a a a a a a"
}


#child_ft1 {
    grid-area: child;
}

#ft2 {
    grid-area: ft2;
}
#ft3 {
    grid-area: ft3;
}
#ft4 {
    grid-area: ft4;
}
#ft5 {
    grid-area: ft5;
}
#ft6 {
    grid-area: ft6;
}
#ft7 {
    grid-area: ft7;
}
#ft8 {
    grid-area: ft8;
}

